.App {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.app-content{
  height: 100%;
}

.app-wrapper{
  margin-left: 10%;
  margin-right: 10%;
}

/* GENERAL STUFF */

.red-text{
  color: #CE1212;
}

.blue-text {
  color: #40A7FF;
}

/* NAVBAR STUFF */

.navbar-wrapper{
  margin-top: 5%;
}

.navbar-wrapper .aux-navbar .link{
  color: #000D6F;
  font-weight: 500;
  font-size: 18px;
  margin-left: 15px;
}

/* FOOTER STUFF */

.footer-wrapper{
  margin-top: 120px;
  margin-bottom: 30px;
}

.aux-footer .copyright-text{
  color: #000D6F;
  font-weight: 500;
  font-size: 18px;
}

/* HOME PAGE */

.home-wrapper{
  margin-top: 8%;
}

.home-wrapper .hero-text{
  font-size: 50px;
  font-weight: 800;
  color: #000D6F;
}

.home-wrapper .hero-text .word{
  /* display: inline-block; */
}

.home-wrapper .hero-text .word span{
  /* position: absolute; */
  /* top: 0; */
  overflow: hidden;
  animation: animate 3s linear infinite;
  /* opacity: 0; */
}

@keyframes animate {
  0% {
    /* opacity: 0;
    transform: translateY(-50px); */
    color: #40A7FF;
  }
  2% {
    /* opacity: 1;
    transform: translateY(0px); */
  }
  18% {
    /* opacity: 1;
    transform: translateY(0px); */
  }
  40%{
    /* opacity: 0;
    transform: translateY(50px); */
    color: #40FFF8;
  }
  100%{
    /* opacity: 0;
    transform: translateY(50px); */
    color: #40A7FF;
  }
}

.home-wrapper .hero-text .word span:nth-child(1){
  animation-delay: 0s;
}
.home-wrapper .hero-text .word span:nth-child(2){
  animation-delay: 1s;
}
.home-wrapper .hero-text .word span:nth-child(3){
  animation-delay: 2s;
}



.home-wrapper .hero-action{
  margin-top: 90px;
}

.home-wrapper .hero-action .compose-button{
  padding: 6px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  background-color: #1d8ef0;
  border-radius: 10px;
  box-shadow: 5px 0px 10px 2px rgba(124, 157, 247, 0.1);
  transition: .2s;
  font-size: 25px;
  font-weight: 500;
}

.home-wrapper .hero-action .compose-button:hover{
  cursor: pointer;
  text-decoration: none;
  background-color: #439dec;
}

.home-wrapper .hero-action .hero-action-item{
  margin-right: 15px;
  margin-left: 15px;
}

.home-wrapper .about-wrapper{
  margin-top: 18%;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #03093b;
  border-radius: 20px;
}

.home-wrapper .about-wrapper .header{
  color: #ffffff;
  font-size: 45px;
  font-weight: 600;
}

.home-wrapper .about-wrapper .description{
  margin-top: 30px;
  color: #eeeeee;
  font-size: 30px;
  font-weight: 400;
}

.home-wrapper .about-wrapper .composers{
  margin-top: 80px;
  color: #ffffff;
  font-size: 45px;
  font-weight: 600;
}

.home-wrapper .about-wrapper .composer-list-wrapper{
  margin-top: 40px;
}

.home-wrapper .about-wrapper .composer-list-wrapper .composer-item{
  color: #ffffff;
  background-color: #020d77;
  box-shadow: 0px 0px 5px 2px rgba(124, 157, 247, 0.1);
  padding: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 10px;
}

/* CREATE PAGE */

.create-wrapper{
  margin-top: 8%;
}

.create .composer-prompt{
  font-size: 50px;
  font-weight: 800;
  color: #000D6F;
}

.create .composer-choices {
  margin-top: 30px;
}

.create .composer-choices .composer-choice{
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #FDFDFD;
  border: 1px solid #d1d6f5;
  border-radius: 10px;
  color: #000D6F;
  font-size: 25px;
  font-weight: 500;
  
}

.create .composer-choices .composer-choice:hover{
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px rgba(124, 157, 247, 0.1);
}

.create .composer-choices .composer-choice.selected{
  background-color: #000D6F;
  border: 1px solid #000D6F;
  color: #ffffff;
}

.create .num-notes-prompt-wrapper{
  margin-top: 100px;
}

.create .num-notes-prompt{
  font-size: 40px;
  font-weight: 800;
  color: #000D6F;
}

.create .current-number-of-notes{
  margin-top: 40px;
  font-size: 40px;
  font-weight: 800;
  color: #000D6F;
}

.create .num-notes-slider-wrapper{
  margin-top: 30px;
}

.create .generate-button-wrapper{
  margin-top: 80px;
}

.create .generate-button{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  background-color: #439dec;
  border-radius: 10px;
  box-shadow: 5px 0px 10px 2px rgba(124, 157, 247, 0.1);
  transition: .2s;
  font-size: 25px;
  font-weight: 500;
}

.create .generate-button:hover{
  cursor: pointer;
  background-color: #2472b6;
  text-decoration: none;
}

.create .loading-gif{
  margin-left: 20px;
}
